
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}


@font-face{
 src: url(Ubuntu-Light.ttf);
 font-family: ubuntu; 
}


html{
    scroll-behavior: smooth;
}


body{
 margin: 0;
 padding: 0;
 background-color: rgb(54, 56, 61);
 color: white;
 font-family: ubuntu;
 line-height: 1.6;
}


.container{
 scroll-behavior: smooth;
 text-align: center;
 width: 100%;
 height: 100%; 
}


nav{
 position: sticky;
 width: 100%; 
 top: 0px;
 z-index: 10;
}


.navbar ul{
 margin: 0px;
 padding: 0px;
 list-style: none;
 background-color: rgba(41, 37, 37, 0.63);
 height: 44px;
 z-index: 1;
 line-height: 2.5;
}


.navbar ul li {
 display: inline;
 font-size: 16px;
 margin: 30px;
 font-family:ubuntu;
}


.navbar ul li a{
 padding: 8px;
 color: rgb(180, 180, 180);
 text-decoration: none;
 text-transform: uppercase;
 font-weight: bold;
}



.navbar a:hover{
 color: rgb(255, 255, 255);
 transition: 0.4s ease;
 z-index: 2;
}
 


section{
    height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 line-height: 1.2;

}
 

section#home{
    /* background-image: url(nike.jpg); */
    /* background-repeat: no-repeat; */
   background-size:cover;
   height: 100vh;
   overflow: hidden;
} 


   
#store{
    height: 105vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(94, 92, 92);
    color: rgb(34, 29, 29);
    
}


#store h1{
    font-size: 45px;
    color: rgb(192, 192, 192);
}


#about{
    background-image: linear-gradient(to bottom,  rgb(94, 92, 92), rgb(41, 41, 87));
    display: flex;
    justify-content: space-around;
}


#contact{
background-image: linear-gradient(to bottom, rgb(41, 41, 87),   rgb(94, 92, 92));
color: rgb(255, 255, 255);
justify-content: space-around;
}


section h1{
    font-size: 4rem;
}


section p{
    font-size: 1.5rem;
}

        
.logo img{
    height: 44px;
    width: 80px;
    float: left;
    border-radius: 18%;  
    margin-left: 15px;  
}


.btn{
    
    padding:5px 15px;
    background: rgb(94, 92, 92);
    color: white;
    border: none;
    border-style: none;
    height: 35px;
    width: 85px;
    border-radius: 9px;
    font-family: ubuntu;
    font-size: 25px;
    text-decoration: none;
    font-weight :bold;    
}
 

.btn:hover{
    background-color: rgb(156, 156, 156);
    color: rgb(0, 0, 0);
    transition: 0.4s ease;
    cursor: pointer;
}
 

.grid-container{
    margin: 50px;
    margin-right:70px; 
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-gap: 60px;
    row-gap: 55px;
    width: 54%;
    

}


.grid-item{
    height: 170px;
    width: 200px;
    display: flex;
    flex-direction: column; 
 
}


.prdct-name{
    color: white;
    text-decoration: none;
    list-style: none;
    font-style:none ;
    
}


.prdctlnk{
    text-decoration: none;
}

.card-image{
    height: 100px;
}


.slider{
   width: 40%;
    background: url(shbx3.jpg);
    background-size: 100% 800px;
    background-repeat: no-repeat;
    margin: 40px;
    /* position: relative;
    left: -10rem; */
    animation: slide 40s infinite;
    /* border: 1px solid #aaa; */
    border-radius: 10px;
    border: 2.5px solid rgb(59, 58, 58);
   
}

@keyframes slide{
    
    25%{
        background: url(shbx.jpg);
        background-size: 100% 800px;
    background-repeat: no-repeat;
   
    }
    50%{
        background: url(shbx1.jpg);
        background-size: 100% 800px;
    background-repeat: no-repeat;
  
    }
    75%{
        background: url(shbx2.jpg);
        background-size: 100% 800px;
    background-repeat: no-repeat;
    
    }
    100%{
        background: url(shbx5.png);
        background-size: 100% 800px;
    background-repeat: no-repeat;
    
    }
}

.flex-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
} 


.grod-image{
    width: 100%;
    height: 70%;
    border-style:none ;
    border: 2.5px solid rgb(59, 58, 58);
    border-radius :20px; 
    overflow: hidden;
    /* box-shadow: 5px 5px 25px rgb(39, 39, 39) */
}


.grid-item :hover{
    transition: 0.4s ease;
    opacity: 0.35; 
    color: rgb(0, 0, 0);  
    cursor: pointer; 
}


.pic-container{
    display: flex;
    flex-direction:row ;
    overflow: hidden;
}


.staff{
    border: 2.5px solid black;
    border-radius: 50% ;
    margin: 35px;
    height: 110px;
    width: 150px; 
}


.pic-container{
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
   
}


.vctr{
    overflow: hidden;
    background-size:cover ;
}


.vctr:hover{
    opacity: 0.5;
    cursor: pointer;
    
}


.scl{
    
    display: inline-flex;
    overflow: hidden;
    background-size: cover;
    margin: 30px;
    height: 60px;
    width: 60px;
}

.twitter{
    height: 75px;
    width: 75px;
}

.facebook{
    height: 70px;
    width: 70px;
}

.scl:hover{
    transition: 0.4s ease;
    opacity: 0.35; 
}


.bckgrndimg{
    width: 100vw;
    height: 110vh ;
    position: absolute;
    top: 0px;
    transition: display 5s  ease;
}
    

.checkout{
    position: relative;
    top: 18rem;
}

.w3-button{
 font-size: 30px;
 color: rgb(150, 149, 149);
 
}

 .w3-button:hover{
     
     transition: 1s ease;
 }
  

 .endbtn{
   
    background: rgb(94, 92, 92);
    color: white;
    border: none;
    border-style: none;
    height: 35px;
    width: 65px;
    border-radius: 9px;
    font-family: ubuntu;
    font-size: 15px;
    text-decoration: none;
    font-weight :bold;  
    margin-right: -1400px;
 }

.endbtn:hover{
    background-color: rgb(156, 156, 156);
    color: rgb(0, 0, 0);
    transition: 0.4s ease;
    cursor: pointer;
}




























































































































































